.ant-layout .ant-layout-sider {
    transition:none !important;
}

.ant-tag {
    margin-inline-end: 0px !important;
}

.ant-input-affix-wrapper:hover {
    border-color: #F6F6F9 !important;
    border-inline-end-width: 0px !important;
}

.ant-input-affix-wrapper-focused {
    box-shadow: 0 0 0 2px rgba(0, 145, 5, 0.1);
}

.arkreen-404-title {
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #101020;
    padding: 8px;
}

.arkreen-404-btn {
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #00913A;
    padding: 8px;
}

.arkreen-404-back {
    color: #00913A;
    border: 1px solid #00913A;
    border-radius: 16px;
    align-items: center;
    padding: 5px 16px;
}

.arkreen-404-back:hover {
    color: #00913A !important;
    border: 1px solid #00913A !important;
    background-color: #E6F4EB;
}

.ant-table-thead .ant-table-cell {
    color: #707079 !important;
}

.ant-table-wrapper .ant-table-thead >tr>th, .ant-table-wrapper .ant-table-thead >tr>td {
    background: #FFFFFF !important;
    font-weight: 500 !important;
    font-size: 14px !important;
}

.ant-table-wrapper .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before, .ant-table-wrapper .ant-table-thead >tr>td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    display: none !important;
}

@media screen and (max-width: 576px) {
    .arkreen-404 {
        text-align: center;
        gap: 4px;
        padding: 16px 16px 16px 16px;
        margin-top: 20%;
    }
    .arkreen-404-info{
        font-weight: 400;
        font-size: 14px;
        text-align:center;
        padding: 8px;
    }
    .arkreen-select-group {
        display:flex;
    }
    .arkreen-select-item {
        width: 50%;
        float: left;
    }
    .arkreen-select-padding-left {
        padding-left: 6px;
    }
    .arkreen-select-padding-right {
        padding-right: 6px;
    }
    .ant-tabs-tab {
        width: 50%;
     }
 
     .ant-tabs-tab-btn {
         width: 100% !important;
         text-align: center !important;
     }
}

@media screen and (min-width: 576px) {
    .arkreen-main-content {
        background-color:#FFFFFF;
        padding:16px 16px 16px 16px;
    }

    .arkreen-404 {
        width:100%;
        text-align: center;
        padding-top: 15%;
    }

    .arkreen-404-info{
        font-weight: 400;
        font-size: 14px;
        text-align:center;
        padding: 8px;
    }
    .arkreen-select-group {
        display:flex;
        padding-bottom: 6px;
    }
    .arkreen-select-item {
        float: left;
        padding-inline-end: 16px;
    }
}

.ant-tabs-nav-list {
    width: 100% !important;
}

.ant-statistic-content {
    color:#101020 !important;
    font-size: 16px !important;
    font-weight: 600 !important;
}

.ant-input {
    background:#FFFFFF00 !important;
}

.ant-input-affix-wrapper {
    padding: 4px 6px !important;

}

/* 设置浏览器滚动条的样式 */
::-webkit-scrollbar {
    width: 0px;
  }
  /* 滚动槽 */
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  /* 滚动条滑块 */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.0);
    -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
  }
  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.0);
  }
  

  
.ant-select-selector:hover {
    border: #00913A 1px solid !important;
}

.ant-select-selector:focus {
    background-color: #00913A !important;
    box-shadow: 0 0 0 2px rgba(0, 145, 5, 0.1) !important;
}

.ant-select-item-option-active {
    background: #E6F4EB !important;
}

.ant-select-item-option-active:hover {
    background: #FFFFFF !important;
    color: #00913A !important;
}

.ant-select-item-option-selected {
    background: #E6F4EB !important;
}

.ant-select-item-option-selected:hover {
    background: #E6F4EB !important;
}


@media screen and (max-width: 576px) {
    .arkreen-select-title {
        display: none;
    }
    .ant-select-selector {
        background-color: #FFFFFF !important;
        height: 44px;
        border-radius: 22px !important;
        border: #F6F6F9 1px solid !important;
        font-family: 'Montserrat' !important;
        font-style: normal !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        color: #101020 !important;
    }
    .arkreen-select {
        width: 100%;
        height: 44px;
        margin-bottom: 6px;
    }
    .ant-select-selector {
        width: 100%;
        height: 44px !important;
        padding: 0 11px;
    }
    .ant-select .ant-select-clear{
        vertical-align: middle !important;
        margin-right: 10% !important;
        color: #40404D !important;
    }
    .ant-select .ant-select-arrow {
        vertical-align: middle !important;
        margin-right: 10% !important;
        color: #40404D !important;
    }

    .ant-select-selection-placeholder {
        margin-top: 6px !important;
        color: #40404D !important;
        text-align: center !important;
    }

    .ant-select-selection-item {
        margin-top: 6px !important;
        color: #40404D !important;
        text-align: center !important;
    }
}

@media screen and (min-width: 576px) {
    .arkreen-select-title {
        color: #101020;
    }
    .ant-select-selection-placeholder {
        display: none !important;
    }
    .ant-select-selector {
        background-color: #F6F6F9 !important;
        border-radius: 8px !important;
        border: #F6F6F9 1px solid !important;
        font-family: 'Montserrat' !important;
        font-style: normal !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        color: #101020 !important;
    }
    .arkreen-select {
        width: 240px;
        padding: 6px, 36px, 6px, 12px;
        height: 40px;
        margin-left: 6px;
    }
    .ant-select .ant-select-clear{
        vertical-align: middle !important;
        margin-top: -10px !important;
    }
    .ant-select .ant-select-arrow {
        vertical-align: middle !important;
        margin-top: -10px !important;
    }
}


.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #00913A !important;
    text-shadow: 0 0 0.25px currentcolor;
}

.ant-tabs .ant-tabs-tab {
    font-size: 16px !important; 
    line-height:24px !important; 
    font-weight:300 !important; 
    color:#40404D !important; 
    padding: 8px 24px !important;
}

.ant-tabs .ant-tabs-tab:hover {
    color: #00913A !important;
}

.ant-tabs .ant-tabs-ink-bar {
    background: #00913A !important;
    height: 4px !important;
}

.ant-tabs >.ant-tabs-nav, .ant-tabs >div>.ant-tabs-nav {
    position: revert !important;
}

 .ant-table-tbody >tr >td {
    border-bottom: 0px solid #f0f0f0 !important;
}